<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Attendance"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".StudAttRecActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".StudentRecordActivity"
            android:exported="false"
            android:parentActivityName=".AttendanceRecordActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".StudentAttendanceActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"/>
        <activity
            android:name=".ClassesActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".TimetableActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".MarkAttendanceActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".AttendanceRecordActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:theme="@style/Theme.Toolbar" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

</manifest>